<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
        <arguments>
            <argument name="discountRules" xsi:type="array">
                <item name="by_x_get_y_amount" xsi:type="string">Smart\CustomSalesRule\Model\Rule\Action\Discount\ByXGetYAmount</item>
                <item name="by_x_get_y_percent" xsi:type="string">Smart\CustomSalesRule\Model\Rule\Action\Discount\ByXGetYPercent</item>
                <item name="group_n_by_x_get_y_percent" xsi:type="string">Smart\CustomSalesRule\Model\Rule\Action\Discount\GroupNByXGetYPercent</item>
            </argument>
        </arguments>
    </type>
</config>
